*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0px;
}

.container{
    border-color: black;
    border-radius:10px;
    margin-top: 50px;
    border-width: 2px;
    width: 50%;
    padding: 30px;
    background-color: #a1c2bd;

}